<template>
  <div class="<%= name %>_container">
    <h1>Creating a successful</h1>
  </div>
</template>

<script>
export default {
  name: '<%= name %>'
}
</script>

<style scoped lang="scss">
.<%= name %>_container {}
</style>
